-<center>
	<h1> Add product </h1>

	<form action="/saveproduct/" method="GET">
		<div> 
			product name:<input type="text" name="PName">
		</div>
		<div> 
			product brand:<input type="text" name="PBrand">
		</div>
		<div> 
			product price:<input type="text" name="PPrice">
		</div>
		<div> 
			product stock:<input type="text" name="Stock">
		</div>
		<div> 
			<input type="submit" value="submit">
		</div>
		<a href='/'> home page </a><br>
		<a href='/display/'>display product</a><br>
		<a href='/search/'>search product</a><br>
</center>